.App {
  text-align: center;
  /* margin: 1em; */
  /* padding: 1em; */
  /* border: 3px solid purple; */
  min-height: 100vh;
  /* width: 100vh; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
}

/* Styling for Header component */
header{
  background-color: black;
  color: white;
}

/* Styling for Footer component */
footer {
  background-color: black;
  color: white;
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
  /* height: 2em; */
  margin-top: auto;
}

/* Styling for body element */
.appBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  padding-bottom: 2em;
  min-height: 100%;
  
}

/* App main title */
.title {
  color: rgb(182, 3, 182);
  font-weight: bolder;
  font-size: xx-large;
}

/* Styling for Alert component */
.alert {
  display: flex;
  font-size: large;
  font-weight: bolder;
  color:rgb(182, 3, 182);
  padding: 1em;
}

/* Styling for movie search box */
.searchBox {
  /* outline-color: rgb(182, 3, 182); */
  caret-color: rgb(182, 3, 182);
  margin: 1em;
}

.searchBox input {
  color:rgb(182, 3, 182);
  border: 3px solid purple;
  border-radius: 10px;
  background: transparent;
  padding: 1em;
  font-size: large;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.searchBox input:focus {
  outline: none;
}

/* Styling for radio button */
.radioWrapper {
  display: flex;
  justify-content: center;
  margin: 0.5em;
}

.radioWrapper label span:hover {
  cursor: pointer;
}

.radioWrapper input:hover {
  cursor: pointer;
}

.radioWrapper input[type="radio"]:checked + label {
  color:rgb(182, 3, 182);
}

/* styling for results list and nominations list boxes */
.resultNomWrapper {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.resultsList {
  border: 3px solid rgb(182, 3, 182);
  width: 40%;
  min-height: 200px;
  min-width: 12em;
  margin-right: 3em;
}

.nominationsList {
  border: 3px solid rgb(182, 3, 182);
  width: 40%;
  min-height: 200px;
  min-width: 12em;
}

#nomListDnd {
  border-color:rgb(182, 3, 182);
  background-color:yellow
}


/* Button component styling */
.nomButton, .resultButton {
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  background-color: teal;
  color: white;
  text-align: center;
  padding: 0.25em;
}



/* Styling for movie components */
.movieWrapper {
  border: 3px solid teal;
  border-radius: 5px;
  margin: 1em;
  /* padding: 0.5em; */
  /* min-height: 3em; */
}

.memeWrapper {
  display: flex;
  flex-direction: row-reverse;
  background-color: black;
  align-items: center;
  justify-content: center;
  color: white;
}

.memeImg {
  max-height: 4em;
  max-width: 4em;
}

.movieInfoWrapper {
  padding: 0.5em;
}

.movieInfoWrapper p {
  font-weight: bolder;
}