.App {
  text-align: center;
}

.resultNomWrapper {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.resultsList {
  border: 3px solid blue;
  width: 40%;
  min-height: 200px;
}

.nominationsList {
  border: 3px solid fuchsia;
  width: 40%;
  min-height: 200px;
}